[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "mypy==1.7.1",
  "packaging>=21,<24",
  "setuptools",
  "types_deprecated",
  "versioneer[toml]",
]

[tool.isort]
profile = "black"
add_imports="from __future__ import annotations"

[tool.mypy]
strict = true
check_untyped_defs = true
disallow_any_generics = true
disallow_any_unimported = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
disallow_untyped_decorators = true
show_error_codes = true
warn_return_any = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "async_timeout",
    "beartype",
    "deprecated",
    "pympler",
    "wrapt",
]
ignore_errors = true
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "coredis.response._callbacks.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "coredis.modules.response._callbacks.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "coredis._version"
ignore_errors = true
ignore_missing_imports = true

[tool.ruff]
line-length=100
exclude = ["doc/**","_version.py","versioneer.py", "coredis/pipeline.pyi", "coredis/speedups.pyi"]
lint.typing-modules = ["coredis.typing"]

[tool.versioneer]
VCS = "git"
style = "pep440-pre"
versionfile_source = "coredis/_version.py"
versionfile_build = "coredis/_version.py"
parentdir_prefix = "coredis-"
