name: Compatibility

on:
  push:
    branches: ['master']
    tags: ['*']
  schedule:
  - cron: 0 23 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/lint
      name: Run Linters
      with:
        python-version: ${{ matrix.python-version }}
  test:
    name: Test (Python ${{ matrix.python-version }}, Anyio ${{ matrix.anyio-backend || 'asyncio' }}, Redis ${{ matrix.redis-version }}${{ matrix.uvloop == 'True' && ', uvloop' || ''}}${{ matrix.orjson == 'True' && ', orjson' || ''}}${{ matrix.compiled == 'True' && ', compiled' || ''}}${{ matrix.label && format(', {0}', matrix.label) || '' }})
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.redis-version == 'next' }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        redis-version: ["7.2", "8.6", "latest"]
        test-params: ["-m '(not (dragonfly or valkey))'"]
        orjson: [false]
        uvloop: [false]
        anyio-backend: ["asyncio"]
        runtime_type_checks: [true]
        compiled: [true]
        label: [""]
        include:
          - python-version: "3.14"
            redis-version: "7.4"
            test-params: "-m '(not (dragonfly or valkey))'"
            compiled: true
            runtime-type-checks: true
            label: ""
          - python-version: "3.14"
            redis-version: "8.0"
            test-params: "-m '(not (dragonfly or valkey))'"
            compiled: true
            runtime-type-checks: true
            label: ""
          - python-version: "3.14"
            redis-version: "8.2"
            test-params: "-m '(not (dragonfly or valkey))'"
            compiled: true
            runtime-type-checks: true
            label: ""
          - python-version: "3.14"
            redis-version: "8.4"
            test-params: "-m '(not (dragonfly or valkey))'"
            compiled: true
            runtime-type-checks: true
            label: ""
          - python-version: "3.14"
            redis-version: next
            test-params: "-m '(not (dragonfly or valkey))'"
            compiled: true
            runtime-type-checks: true
            label: ""
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            anyio-backend: "trio"
            label: ""
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            orjson: true
            label: ""
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            uvloop: true
            label: ""
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: false
            label: ""
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))'"
            compiled: false
            label: ""
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m dragonfly"
            label: "Dragonfly"
          - python-version: "3.14"
            redis-version: 8.0
            test-params: "-m valkey"
            label: "Valkey 8"
          - python-version: "3.14"
            redis-version: latest
            test-params: "-m valkey"
            label: "Valkey latest"
          - python-version: "pypy-3.10"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))' tests/commands tests/test_tracking_cache.py"
            runtime-type-checks: false
            compiled: false
            uvloop: false
            label: ""
          - python-version: "pypy-3.11"
            redis-version: latest
            test-params: "-m '(not (dragonfly or valkey))' tests/commands tests/test_tracking_cache.py"
            runtime-type-checks: false
            compiled: false
            uvloop: false
            label: ""

    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/test
      name: Run tests
      with:
        test-params: ${{ matrix.test-params }}
        python-version: ${{ matrix.python-version }}
        redis-version: ${{ matrix.redis-version }}
        compiled: ${{ matrix.compiled }}
        runtime-type-checks: ${{ matrix.runtime-type-checks }}
        orjson: ${{ matrix.orjson }}
        uvloop: ${{ matrix.uvloop }}
