name: CI

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/lint
      name: Run Linters
      with:
        python-version: ${{ matrix.python-version }}
  test:
    name: Test (Python ${{ matrix.python-version }}, ${{ matrix.anyio-backend || 'asyncio' }}, Redis ${{ matrix.redis-version }}${{ matrix.uvloop == 'True' && ', uvloop' || ''}}${{ matrix.orjson == 'True' && ', orjson' || ''}}${{ matrix.compiled == 'True' && ', compiled' || ''}}${{ matrix.label && format(', {0}', matrix.label) || '' }})
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.redis-version == 'next' }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.14"]
        redis-version: ["7.2", "8.6", "latest"]
        test-params: ["-m '(not (dragonfly or valkey))'"]
        uvloop: [false]
        orjson: [false]
        anyio-backend: ["asyncio"]
        runtime_type_checks: [true]
        compiled: [true]
        label: [""]
        include:
          - python-version: "3.14"
            redis-version: next
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            compiled: true
            label: ""
          - python-version: "3.14"
            redis-version: "latest"
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            compiled: false
          - python-version: "3.14"
            redis-version: "latest"
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            uvloop: true
          - python-version: "3.14"
            redis-version: "latest"
            test-params: "-m '(not (dragonfly or valkey))'"
            runtime-type-checks: true
            anyio-backend: "trio"
          - python-version: "3.14"
            redis-version: "latest"
            test-params: "-m dragonfly"
            label: "Dragonfly"
          - python-version: "3.14"
            redis-version: "latest"
            test-params: "-m valkey"
            label: "Valkey: latest"
          - python-version: "pypy-3.11"
            redis-version: "latest"
            test-params: "-m '(not (dragonfly or valkey))' tests/commands tests/test_tracking_cache.py"
            runtime-type-checks: false
            compiled: false
            uvloop: false
            label: ""
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/test
      name: Run tests
      with:
        test-params: ${{ matrix.test-params }}
        python-version: ${{ matrix.python-version }}
        redis-version: ${{ matrix.redis-version }}
        compiled: ${{ matrix.compiled }}
        runtime-type-checks: ${{ matrix.runtime-type-checks }}
        orjson: ${{ matrix.orjson }}
        uvloop: ${{ matrix.uvloop }}
  build:
    needs: lint
    name: "Build"
    uses: ./.github/workflows/build.yml
  upload_pypi:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'alisaifee' && github.ref == 'refs/heads/master'
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: "*wheels*"
          merge-multiple: true
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: src_dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository_url: https://test.pypi.org/legacy/
          skip_existing: true
          verbose: true
  upload_pypi_release:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'alisaifee' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: "*wheels*"
          merge-multiple: true
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: src_dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1

  github_release:
    needs: [upload_pypi_release]
    name: Create Release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          pattern: "*wheels*"
          merge-multiple: true
          path: dist
      - name: Download source dist
        uses: actions/download-artifact@v4
        with:
          name: src_dist
          path: dist
      - name: Generate release notes
        run: |
          ./scripts/github_release_notes.sh > release_notes.md
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          bodyFile: release_notes.md
          token: ${{ secrets.GITHUB_TOKEN }}
